@import url(http://fonts.googleapis.com/css?family=Lato:300,400,900);
* {
  box-sizing: border-box;
}

html, body {
  height: 100%;
}

html {
  background: #444;
}

body {
  min-height: 100%;
  overflow: hidden;
}
/*
.container {
  height: 100%;
  min-height: 100%;
  margin: 0 auto;
}
*/
.button-wrap {
  position: relative;
  text-align: center;
  top: 50%;
  margin-top: -2.5em;
}
@media (max-width: 40em) {
  .button-wrap {
    margin-top: -1.5em;
  }
}

.button-label {
  display: inline-block;
  padding: 1em 2em;
  margin: 0.5em;
  cursor: pointer;
  color: #292929;
  border-radius: 0.25em;
  background: #efefef;
  box-shadow: 0 3px 10px rgba(0, 0, 0, 0.2), inset 0 -3px 0 rgba(0, 0, 0, 0.22);
  -webkit-transition: 0.3s;
  transition: 0.3s;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}
.button-label h1 {
  font-size: 1em;
  font-family: "Lato", sans-serif;
}
.button-label:hover {
  background: #d6d6d6;
  color: #101010;
  box-shadow: 0 3px 10px rgba(0, 0, 0, 0.2), inset 0 -3px 0 rgba(0, 0, 0, 0.32);
}
.button-label:active {
  -webkit-transform: translateY(2px);
          transform: translateY(2px);
  box-shadow: 0 3px 10px rgba(0, 0, 0, 0.2), inset 0px -1px 0 rgba(0, 0, 0, 0.22);
}
@media (max-width: 40em) {
  .button-label {
    padding: 0em 1em 3px;
    margin: 0.25em;
  }
}

#yes-button1:checked + .button-label {
  background: #2ECC71;
  color: #efefef;
}
#yes-button1:checked + .button-label:hover {
  background: #29b765;
  color: #e2e2e2;
}

#yes-button2:checked + .button-label {
  background: #2ECC71;
  color: #efefef;
}
#yes-button2:checked + .button-label:hover {
  background: #29b765;
  color: #e2e2e2;
}

#yes-button3:checked + .button-label {
  background: #2ECC71;
  color: #efefef;
}
#yes-button3:checked + .button-label:hover {
  background: #29b765;
  color: #e2e2e2;
}

#yes-button4:checked + .button-label {
  background: #2ECC71;
  color: #efefef;
}
#yes-button4:checked + .button-label:hover {
  background: #29b765;
  color: #e2e2e2;
}

#yes-button9:checked + .button-label {
  background: #d4a2f5;
  color: #efefef;
}
#yes-button9:checked + .button-label:hover {
  background: #d4a2f5;
  color: #e2e2e2;
}

#yes-button10:checked + .button-label {
  background: #d4a2f5;
  color: #efefef;
}
#yes-button10:checked + .button-label:hover {
  background: #d4a2f5;
  color: #e2e2e2;
}

#yes-button11:checked + .button-label {
  background: #d4a2f5;
  color: #efefef;
}
#yes-button11:checked + .button-label:hover {
  background: #d4a2f5;
  color: #e2e2e2;
}

#yes-button12:checked + .button-label {
  background: #2ECC71;
  color: #efefef;
}
#yes-button12:checked + .button-label:hover {
  background: #29b765;
  color: #e2e2e2;
}

#yes-button5:checked + .button-label {/*클릭후*/
  background: #5bc2f5;
  color: #efefef;
}
#yes-button5:checked + .button-label:hover {
  background: #5bc2f5;
  color: #e2e2e2;
}

#yes-button6:checked + .button-label {
  background: #5bc2f5;
  color: #efefef;
}
#yes-button6:checked + .button-label:hover {
  background: #5bc2f5;
  color: #e2e2e2;
}

#yes-button7:checked + .button-label {
  background: #5bc2f5;
  color: #efefef;
}
#yes-button7:checked + .button-label:hover {
  background: #5bc2f5;
  color: #e2e2e2;
}

#yes-button8:checked + .button-label {
  background: #d4a2f5;
  color: #efefef;
}
#yes-button8:checked + .button-label:hover {
  background: #d4a2f5;
  color: #e2e2e2;
}






































#no-button:checked + .button-label {
  background: #D91E18;
  color: #efefef;
}
#no-button:checked + .button-label:hover {
  background: #c21b15;
  color: #e2e2e2;
}

#maybe-button:checked + .button-label {
  background: #4183D7;
  color: #efefef;
}
#maybe-button:checked + .button-label:hover {
  background: #2c75d2;
  color: #e2e2e2;
}

.hidden {
  display: none;
}



/*#dfbaf7*/








#maybe-button {
	 background: white;/*linear-gradient(-90deg, #CF77F3 0%, #009BFF 0%, #2AC9DB 150%);*/
	  box-shadow: 0 3px 10px rgba(0, 0, 0, 0.2), inset 0 -3px 0 rgba(0, 0, 0, 0.22);
color:white;
}
#maybe-button:hover {
   background: #edf1f5;
   box-shadow: 0 3px 10px rgba(0, 0, 0, 0.2), inset 0 -3px 0 rgba(0, 0, 0, 0.22);
 
   color: #e2e2e2;
}

