<style type="text/css">

body h4{
	color:black;
	;
	position: absolute;
margin-left:25%;
margin-top: 24.5%;	
    font-family: 'Indie Flower', cursive;
    font-size: 26px;
}
#temp{
	position: absolute;
	margin-left:26%;
	margin-top:5%;
	width:50%;
	height: 55%;
	align-items: center;
}



</style>



<!DOCTYPE html>
<html>
<head>

 <link href="https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@300;400&family=Ranchers&display=swap" rel="stylesheet"> 

 <link href="https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@300;400&family=Ranchers&family=Rowdies:wght@300&display=swap" rel="stylesheet"> 

 <link href="https://fonts.googleapis.com/css2?family=Indie+Flower&family=Josefin+Sans:wght@300;400&family=Ranchers&family=Rowdies:wght@300&display=swap" rel="stylesheet"> 




	<meta http-equiv="refresh" content="3 url=/myWeb/views/detail/flight/complete5.jsp"/>

	<title>moment</title>
</head>


<body>




</div>

<h4 style="margin-top:29%;margin-left:37%;">your reservation will be completed soon...</h4>
<div>
	<image id="temp" src = "/myWeb/views/main/images/dol.gif"></image>

</div>
</body>
</html>